* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
body {
  background-image: url(istockphoto-1472539079-612x612.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.music_player {
  width: 30vw;
  height: 90vh;
  margin: 40px auto;
   background-image: linear-gradient(
    rgb(68, 67, 67),
    rgb(201, 73, 8),
    rgb(188, 186, 186)
  );
  border-radius: 2%;
  cursor: pointer;
  padding-bottom: 0.5rem;
}

.music_player:hover {
  transform: scale(0.9);
  transition: 3s;
  box-shadow: 5px 0 50px rgb(255, 230, 230), 0 5px 30px rgb(255, 255, 255);
}
.icons {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.icon_left {
  margin-top: 2rem;
  height: 6vh;
  width: 3vw;
  border-radius: 50%;
  margin-left: 20px;
  font-weight: bolder;
  background-color: #2f2a2a;
  cursor: pointer;
}
.playing h3 {
  color: hsl(0, 0%, 100%);
  margin-top: 2.5rem;
  text-align: center;
  font-weight: bold;
  font: 1em sans-serif;
}

.icon_left img {
  width: 20px;
  margin: 0.8rem;
}

.icon_left img:hover {
  transform: rotate(360deg);
  transition: 3s;
}

.icon_right {
  margin-top: 2rem;
  height: 6vh;
  width: 3vw;
  border-radius: 50%;
  margin-right: 20px;
  background-color: #2a2929;
  cursor: pointer;
}

.icon_right img {
  width: 20px;
  margin: 0.8rem;
  align-items: center;
}

.icon_right:hover {
  transform: rotate(360deg);
  transition: 3s;
}

.image_div {
  height: 240px;
  width: 380px;
  margin: 5px 5px;
  border-radius: 2%;
  margin-top: 20px;
  cursor: pointer;
}

#ramadan {
  height: 240px;
  width: 380px;
  margin: 1rem 2.8rem;
  border-radius: 2%;
}

#ramadan:hover {
  outline: 2px solid rgb(222, 222, 222);
  outline-offset: 3px;
  transform: rotateY(360deg);
  transition: 5s;
}


h3 {
  margin-top: 3rem;
  text-align: center;
  align-items: center;
  color: #0a0a0a;
  font-weight: bolder;
  font: 1.4em sans-serif;
}
p {
  margin-top: 0.2rem;
  text-align: center;
  align-items: center;
  color: #cac9c9;
  letter-spacing: 1px;
  line-height: 2;
  font-size: 0.9rem;
}

audio {
  margin: 1rem 3rem 0;
  height: 50px;
  width: 380px;
}

.btn {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-items: center;
  align-items: center;
  margin: 3rem 2rem;
  height: 80px;
}
.backward {
  background-color: #0e0d0d;
  width: 5vw;
  height: 10vh;
  border: 1px solid whitesmoke;
  border-radius: 50%;
  box-shadow: 2px 0 10px 2px rgb(125, 124, 124);
  cursor: pointer;
}

.backward img {
  margin: 1.8rem;
  width: 1.5vw;
}

.backward:hover {
  transform: translate(-12px);
  transition: 3s;
}

.paused {
  background-color: #0e0d0d;
  width: 7vw;
  height: 14vh;
  border-radius: 50%;
  border: 1px solid whitesmoke;
  box-shadow: 2px 0 10px 2px rgb(125, 124, 124);
  cursor: pointer;
}

.paused img {
  margin: 1.5rem;
  width: 4vw;
}

.paused:hover {
  transform: scale(0.8);
  transition: 3s;
}

.forward {
  background-color: #0e0d0d;
  width: 5vw;
  height: 10vh;
  border-radius: 50%;
  border: 1px solid whitesmoke;
  box-shadow: 2px 0 10px 2px rgb(125, 124, 124);
  cursor: pointer;
}

.forward img {
  margin: 1.8rem;
  width: 1.5vw;
}

.forward:hover {
  transform: translate(15px);
  transition: 3s;
}

#next {
  width: 1.5vw;
}
